body{
    background-color: tomato;
}
.container{
       width: 40%;
       min-width: 450px;
       position: absolute;
       transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      
      padding: 50px,30px;
      

}
.container *{
    font-family: "Poppins",sans-serif;
    border: none;
    outline: none;
}

.inputs{
    background-color: rgb(26, 18, 18);
    padding: 30px,25px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0,15px,30px;

}
input,button{
    height: 50px;
    font-weight: 500;
    background-color: beige;
    color: black;
    border-radius: 8px;
}
button{
    height: 50px;
    font-weight: 500;
    width: 30%;
    background-color: rgb(218, 223, 223);
    color: black;

}
input{
   width: 60%;
   font-size: 14px;
   padding: 0px,20px;
}
.output{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.output div{
    height: 40%;
    width: 40%;
    background-color: rgb(15, 5, 24);
    border-radius: 6px;
    color: beige;
    display: grid;
    place-items: center;
   position: relative;
   left: 12cm;
   top: 14cm;
    padding: 20px 0;
   box-shadow: 0 15px,20px rgb(0,0,0,0.3);

}

span{
    font-size: 30px;
    font-weight: 500;
}
p{
    font-size: 14px;
    color: #707070;
    font-weight: 400;
}
@media screen and (max-width: 800px) {
    body {
      width: auto;
      height: auto;
    }
}
